.Header {
  color: white;
  background-color: #039BE5;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Header-Body {
  width: 100%;
  max-width: 800px;
  min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-Icon {
  width: 45px;
  height: 45px;
  fill: white;
  margin-right: 20px;
}

.Header-Title {
  font-size: 24px;
}

.Header-UserName {
  font-size: 14px;
  color:yellow;
  
}

.Header-ExitBtn {
  border: 1px solid white;
}
.Header-UserLogin{
  color: blue;
  text-decoration: none;
  margin: 0 10px;
  
}
.btn-primary {
  border: 1px solid white;
  margin-right: 5px;
}
.btn-primary:hover{
  background-color: blue;
}